.content-panel {

    &.content-panel--two-column {

        .content-panel {
            
            &__content {
                padding: 2rem 2rem 2.375rem;
                text-align: center;

                h1,
                p {
                    color: var(--color-gray-30);
                }

                h1 {
                    font-size: 1.5rem;
                }

            }

        }

    }

}

@media screen and (--large) {

    .content-panel {

        &.content-panel--two-column {
            background-color: var(--color-white);
            padding: 2.75rem 0;

            .content-panel {

                &__item {
                    overflow: hidden;
                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }

                    &:before {
                        opacity: 0;
                        transition: opacity var(--anim-duration-half);
                        z-index: 20;
                    }

                    &:after {
                        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
                        z-index: 10;
                    }

                    &:hover:before {
                        opacity: 1;
                    }

                    &:hover:after {
                        display: none;
                    }

                }

                &__content {
                    align-items: flex-start;
                    color: var(--color-white);
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    left: 0;
                    padding: 3.375rem;
                    position: absolute;
                    text-align: left;
                    top: 0;
                    width: 100%;

                    h1,
                    p,
                    .button {
                        z-index: 30;
                    }

                    h1,
                    p {
                        color: var(--color-white);
                    }

                    h1 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.25rem;
                    }

                }

            }

        }

    }

}