.customer-review {
    margin-bottom: 1.7rem;

    &__quote-body {
        margin-bottom: 0.3rem;
    }

    &__quote-body,
    &__citation {
        font-style: italic;
    }

    &__citation:before {
        content: "-";
        margin-right: 0.3rem;
    }

    &__quote-body:before {
        content: "\201C";
    }

    &__quote-body:after {
        content: "\201D";
    }
}
