.multi-pod-group {
    background-color: var(--color-blue-40);
    color: var(--color-white);

    .wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}