.search-results-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.875rem;
	padding-top: 1rem;
}


@media screen and (--medium) {
	.search-results-wrapper {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 0.9375rem;
		padding-top: 0;
	}
	.search-results__summary {
		padding: 0 1rem 0 0;
	}
}