.text-panel-group {
    padding-bottom: 2.75rem;

    .wrapper {
        display: flex;
    }

    &__item {
        background-color: var(--color-gray-10);
        flex-grow: 1;
        padding: 2.75rem;

        & + .text-panel-group__item {
            margin-left: 1rem;
        }
    }

}