{
	"plugins": [
		"@babel/plugin-syntax-dynamic-import"
	],
	"presets": [
		["@babel/preset-env", {
        	"modules": false,
        	"targets": {
        		"browsers": [">1%", "ie 11"]
     	 	}
      	}]
    ]
}