.more-articles {
    background-color: var(--color-gray-10);
    padding: 2rem 1rem;

    &__heading {
        font-size: 2.375rem;
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item + .more-articles__item {
        margin-top: 2rem;
    }

    &__item-heading {
        font-family: var(--font-family-primary);
        font-size: 1.625rem;
        margin-bottom: 0.5rem;
    }

    &__item-description {
        margin-bottom: 0.75rem;
    }
    
}

@media screen and (--medium) {

    .more-articles {
        padding: 4.875rem 1rem;
        
        .wrapper {
            align-items: center;
            display: flex;
        }

        &__heading {
            margin-bottom: 0;
        }

        &__heading,
        &__list {
            flex-basis: 50%;
        }

        &__heading {
            text-align: center;
        }

    }

}