.footer-nav {
    padding: 1.75rem;

    li + li {
        margin-top: 0;
    }

    .columns.columns--2 {
        column-count: 1;
    }

}

@media screen and (--medium) {

    .footer-nav {
        padding: 0;

        .columns.columns--2 {
            column-count: 2;
        }

    }

}