.pagination {
    margin: 2rem 0;

    &__list {
        align-items: center;
        display: flex;
        list-style: none;
    }
    
    &__list-item + .pagination__list-item {
        margin-top: 0;
    }

    &__list-item + .pagination__list-item {
        margin-top: 0;
    }

    &__link {
        align-self: center;
        background-color: var(--color-gray-10);
        border-radius: 0.5rem;
        color: var(--color-black);
        display: block;
        font-size: 0.75rem;
        margin: 0 0.125rem;
        min-width: 1.5rem;
        padding: 0.25rem;
        text-align: center;
        transition: background-color var(--anim-duration-half);

        &.is-active {
            color: var(--color-blue-10);

            &:hover {
                background-color: var(--color-gray-10);
                cursor: default;
            }

        }

        &:hover {
            background-color: color-mod(var(--color-gray-10) shade(10%));
            color: var(--color-blue-10);
            text-decoration: none;
        }

        &.pagination__link--previous,
        &.pagination__link--next {
            background-color: var(--color-blue-10);
            border-radius: 1.5rem;
            color: var(--color-white);
            padding: 0.5rem 0.75rem;

            &:hover {
                background-color: color-mod(var(--color-blue-20) shade(10%));
                color: var(--color-white);
            }

        }

        &.pagination__link--previous {
            margin-left: 0;
            
        }

        &.pagination__link--next {
            margin-right: 0;
            
        }

    }

}

@media screen and (--small) {

    .pagination {

        &__link {
            font-size: 1.25rem;
            margin: 0 0.25rem;
            min-width: 2.5rem;
            padding: 0.5rem;

            &.pagination__link--previous,
            &.pagination__link--next {
                padding: 0.75rem 1rem;
            }

        }

    }

}