.utility-nav {

    &__list {
        display: flex;
        list-style: none;
    }

    &__list-item {
        margin-left: 1rem;

        & + .utility-nav__list-item {
            margin-top: 0;
        }
        
    }

    &__link {
        color: var(--color-gray-30);
    }

}