:root {
    --wayfinder-gray: color-mod(var(--color-gray-10) shade(15%));
}

.wayfinder {
    
    &__list {
        counter-reset: wayfinder;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 1.5rem 0;
    }

    &__item {
        color: var(--color-blue-40);
        counter-increment: wayfinder;
        flex-basis: 11rem;
        margin: 0;
        padding: 3.125rem 0 0;
        position: relative;
        text-align: center;

        &:before,
        &:after {
            background-color: var(--wayfinder-gray);
            content: "";
            position: absolute;
            height: 0.25rem;
            top: 1.375rem; 
            width: calc(50% - 2rem);
        }

        &:before {
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
            left: 0;
        }

        &:after {
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
            right: 0;
        }

        &:first-child {

            &:before {
                display: none;
            }

        }

        &:last-child {

            &:after {
                display: none;
            }

        }

        span {
            font-size: 0.75rem;

            &:before,
            &:after {
                content: "";
                display: block;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
            }

            &:before {
                background-color: var(--color-blue-40);
                border: 0.125rem solid var(--color-blue-40);
                border-radius: 50%;
                height: 3rem;
                transform: translateX(-50%);
                width: 3rem;
                top: 0;
            }

            &:after {
                color: var(--color-white);
                content: counter(wayfinder);
                font-size: 1.25rem;
                top: 0.825rem;
            }

        }

        &.is-active {

            & ~ .wayfinder__item {

                span {

                    &:before {
                        background-color: var(--color-white);
                        border-color: var(--wayfinder-gray);
                    }

                    &:after {
                        color: var(--wayfinder-gray);
                    }

                }

            }

        }

    }

}

@media screen and (--medium) {

    .wayfinder {

        &__list {
            margin: 3rem 0;
        }

        &__item {
            padding-top: 3.825rem;

            span {
                font-size: 1rem;
            }

        }

    }

}