:root {
    --flag-row-height: 0.25rem;
    --flag-row-width: 0.25rem;
    --flag-wave-distance: 0.75rem;
    --flag-wave-duration: 1s;
}    
    
@keyframes wave {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(var(--flag-wave-distance));
	}
}

.flag {
	display: flex;

    &__wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
    }

    &__text {
        color: color-mod(var(--color-gray-20) shade(10%));
        font-family: var(--font-family-secondary);
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 1.25rem;
    }

    &__row {
        border-radius: 0.125rem;
        margin-bottom: 0.0625rem;
        height: var(--flag-row-width);
        width: var(--flag-row-height);

        &--red {
            background: color-mod(var(--color-red-10) shade(10%));
        }

        &--white {
            background: var(--color-white);
        }

        &--blue {
            background: var(--color-blue-30);
        }

    }

    &__column {
        animation: wave var(--flag-wave-duration) infinite;
        margin-right: 0.0625rem;
        width: var(--flag-row-width);

        &:nth-child(1) {
            animation-delay: 0.65s; 
        }

        &:nth-child(2) {
            animation-delay: 0.7s; 
        }

        &:nth-child(3) {
            animation-delay: 0.75s; 
        }

        &:nth-child(4) {
            animation-delay: 0.8s; 
        }

        &:nth-child(5) {
            animation-delay: 0.85s; 
        }

        &:nth-child(6) {
            animation-delay: 0.9s; 
        }

        &:nth-child(7) {
            animation-delay: 0.95s; 
        }

        &:nth-child(8) {
            animation-delay: 1.00s; 
        }

        &:nth-child(9) {
            animation-delay: 1.05s; 
        }

        &:nth-child(10) {
            animation-delay: 1.10s; 
        }

        &:nth-child(11) {
            animation-delay: 1.15s; 
        }

        &:nth-child(12) {
            animation-delay: 1.2s; 
        }

        &:nth-child(13) {
            animation-delay: 1.25s; 
        }

        &:nth-child(14) {
            animation-delay: 1.3s; 
        }

        &:nth-child(15) {
            animation-delay: 1.35s; 
        }

        &:nth-child(16) {
            animation-delay: 1.4s; 
        }

        &:nth-child(17) {
            animation-delay: 1.45s; 
        }

        &:nth-child(18) {
            animation-delay: 1.5s; 
        }

        &:nth-child(19) {
            animation-delay: 1.55s; 
        }

    }

}