.button {
    background-color: var(--color-blue-10);
    border-color: var(--color-blue-10);
    border-radius: 1.625rem;
    border-style: solid;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    min-width: 9.25rem;
    opacity: 1;
    padding: 0.75rem 1.25rem;
    text-align: center;
    transition: 
        background-color var(--anim-duration-half), 
        border-color var(--anim-duration-half), 
        color var(--anim-duration-half),
        opacity var(--anim-duration-half);

    &:hover {
        background-color: color-mod(var(--color-blue-10) shade(25%));
        border-color: color-mod(var(--color-blue-10) shade(25%));
        color: var(--color-white);
        text-decoration: none;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;

        &:hover {
            background-color: var(--color-blue-10);
            border-color: var(--color-blue-10);
        }

    }

}

.button--alt {
    background-color: var(--color-red-10);
    border-color: var(--color-red-10);

    &:hover {
        background-color: color-mod(var(--color-red-10) shade(25%));
        border-color: color-mod(var(--color-red-10) shade(25%));
    }

}

.button--reversed,
.button--reversed-alt {
    padding: 0.625rem 1rem;

}

.button--reversed {
    background-color: transparent;
    border: 0.125rem solid var(--color-white);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-blue-10);
        border-color: var(--color-blue-10);
        color: var(--color-white);
    }

}

.button--reversed-alt {
    background-color: transparent;
    border: 0.125rem solid var(--color-white);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-white);
        color: var(--color-blue-30);
    }

}

.button--small-text {
    font-size: 0.75rem;
}

.button--large-text {
    font-size: 1.125rem;
}

.button-bare {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: var(--color-blue-30);
    cursor: pointer;
    display: inline;
    font-size: 1rem;
    margin: 0;
    outline: none;
    padding: 0;

    &:hover {
        text-decoration: underline;
    }

}