h1,
h2,
h3 {
    font-family: var(--font-family-secondary);
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1.125rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}

h4 {
    color: color-mod(var(--color-gray-20) shade(30%));
    font-size: 1.12rem;
    font-weight: 700;
}

h5 {
    font-size: 0.83rem;
}

.heading-blue {
    color: var(--color-blue-40);
}