@font-face {
	font-family: 'afi-icon';
	src:
	url('../fonts/afi-icon.ttf?2mp56p') format('truetype'),
	url('../fonts/afi-icon.woff?2mp56p') format('woff'),
	url('../fonts/afi-icon.svg?2mp56p#afi-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'afi-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
	content: "\e901";
}

.icon-arrow_right:before {
	content: "\e905";
}

.icon-auto:before {
	content: "\e912";
}

.icon-calculator:before {
	content: "\e90c";
	color: #163a63;
}

.icon-chat:before {
	content: "\e900";
	color: #163a63;
}

.icon-check:before {
	content: "\e910";
}

.icon-document:before {
	content: "\e90d";
	color: #163a63;
}

.icon-facebook:before {
	content: "\e90a";
}

.icon-flickr:before {
	content: "\e907";
}

.icon-googleplus:before {
	content: "\e906";
}

.icon-linkedin:before {
	content: "\e909";
}

.icon-lock:before {
	content: "\e902";
	color: #163a63;
}

.icon-person:before {
	content: "\e90e";
	color: #163a63;
}

.icon-phone:before {
	content: "\e903";
	color: #163a63;
}

.icon-search:before {
	content: "\e904";
	color: #163a63;
}

.icon-share:before {
	content: "\e90f";
}

.icon-spinner:before {
  content: "\e911";
}

.icon-twitter:before {
	content: "\e908";
}

.icon-youtube:before {
	content: "\e90b";
}
