.field {

    &-group__label {
        color: color-mod(var(--color-gray-20) shade(30%));
        font-weight: 700;
    }

    &.field--large-radio {
        margin-bottom: 2rem;

        & > .field__label-wrapper .field__label {
            font-weight: 700;
            padding: 0 1rem 1.5rem;
        }

        .field__input-wrapper {
            width: 100%;
        }

        .field-group {
            background-color: var(--color-gray-10);
            position: relative;

            .field__label {
                cursor: pointer;
                display: block;
                padding: 1.25rem 1rem 1.25rem 2.5rem;
                width: 100%;
            }
            
            .field__input {
                cursor: pointer;
                margin: 0;
                left: 1rem;
                padding: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }

            .field__input:checked + .field__label {
                background-color: var(--color-blue-40);
                color: var(--color-white);
            }

            & + .field-group {
                margin-top: 0.375rem;
            }

        }

    }

}

@media screen and (--medium) {

    .field {

        &.field--large-radio {

            & > .field__label-wrapper .field__label {
                padding: 0 0 1.5rem;
            }
        }

    }

}