@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.fields-row {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

    .field {
        flex-grow: 1;
        margin-bottom: 1.5rem;
        margin-right: 1rem;
        max-width: 11.5625rem;

        &:last-child {
            margin-right: 0;
        }

        &.field--small {
            max-width: 5rem;
        }

        &.field--medium {
            max-width: 7rem;
        }

        &.field--large {
            max-width: 10rem;
        }

        &.field--xlarge {
            max-width: 15rem;
        }

        &.field--xxlarge {
            max-width: 25rem;
        }

        &.field--full {
            align-items: center;
            display: flex;
            max-width: 100%;

            .field-group__label {
                color: var(--color-gray-40);
                font-weight: 400;
                margin-bottom: 0;
                max-width: 29rem;
            }

            .field__input-wrapper {
                display: flex;

                .field__input {
                    margin-right: 0.25rem;
                    width: auto;
                }

                .field__label {
                    margin-bottom: 0;
                }

            }

            .field-group + .field-group {
                margin-left: 1rem;
            }

            .field__label-wrapper {
                margin-right: 2rem;

                .field__label {
                    margin-bottom: 0;
                }

            }

        }
        &.field--stacked {
            align-items: flex-start;
            flex-direction: column;
            display: flex;
            max-width: none;

            .field-group {
                margin-top: 1rem;
            }

            .field-group + .field-group {
                margin-left: 0;
            }

        }

        &.field--extended-label {

            .field__label {
                position: relative;
                width: 200%;
            }

        }

    }

    .button-bare {
        margin-top: 1.825rem;
    }

    &.fields-row--loading-left {
        position: relative;

        .loading-spinner {
            animation: spin 2s infinite linear;
            color: var(--color-gray-20);
            font-size: 1.25rem;
            left: -1.75rem;
            position: absolute;
            top: 1.75rem;
            transform-origin: 50% 50%;
        }

    }

}

@media screen and (--medium) {

    .fields-row {
        margin-bottom: 2.125rem;

        .field {
            margin-bottom: 0;
        }

    }

}