.carousel-nav {

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 16vw;
    }

    &__list-item {
        margin: 0 0.1875rem;
        padding: 0;
    }

    &__trigger {
        background-color: var(--color-blue-10);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 0.75rem;
        margin: 0;
        padding: 0;
        width: 0.75rem;

        &.is-active {
            background-color: var(--color-blue-30);
        }

    }
    
}

@media screen and (--medium) {

    .carousel-nav {
        display: none;
    }

}