.footer-disclaimer {
    margin-top: 2rem;
    padding: 0 0.5rem;
    text-align: center;

    &__content,
    &__links a {
        font-size: 0.8125rem;
    }

    &__content {

        p {
            color: var(--color-gray-30);
            margin-bottom: 0.75rem;
        }

    }

    &__links {
        justify-content: center;
        margin-top: 3rem;

        li {
            padding: 0 0.5rem;

            & + li {
                margin-top: 0;
                position: relative;

                &:before {
                    background-color: var(--color-gray-30);
                    content: "";
                    display: block;
                    height: 0.75rem;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0.0625rem;
                }
                
            }

        }

    }

}

@media screen and (--medium) {

    .footer-disclaimer {
        padding: 0;

        &__content,
        &__links a {
            font-size: 1rem;
        }

        &__links {

            li {
                padding: 0 1.375rem;
            }

        }

    }

}