.footer.footer--reduced {
    padding: 1.5rem 0 0.75rem;

    .footer-disclaimer {
        margin-top: 0;
    }

    .footer-disclaimer__content p {
        font-size: 0.75rem;
    }

    .footer-disclaimer__links {
        margin-top: 0;

        a {
            font-size: 0.75rem;
        }

    }

}