.hero {
  &__wrapper {
    display: none;
  }
}

@media screen and (--large) {
  .hero-and-quote-selector-wrapper {
    padding-bottom: 2.75rem;
    position: relative;
  }

  .hero {
    &__wrapper {
      display: block;
      height: 32.5rem;
      overflow: hidden;
      position: relative;
    }

    &__image {
      height: 100%;
      left: 0;
      max-width: none;
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}
