.grid {
    display: flex;
    flex-wrap: wrap;

    &.grid--with-wrapping {
        flex-wrap: wrap;
    }

    &__item {
        width: 100%;
    }

}

@media screen and (--medium) {

    .grid {

        &.grid--with-gutters {
            margin-left: -0.875rem;
            margin-right: -0.875rem;

            .grid__item {
                padding-left: 0.875rem;
                padding-right: 0.875rem;
            }

        }

        &__no-wrap {
            display: flex;
            flex-wrap: nowrap;
        }

        &__item {

            &--25 {
                width: 25%;
            }

            &--33 {
                width: calc(100% / 3);
            }

            &--50 {
                width: 50%;
            }

            &--66 {
                width: 66%;
            }

            &--75 {
                width: 75%;
            }

        }

    }

}